[color]
ui = true
[core]
	editor = nvim
[diff]
tool = vscode
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[merge]
tool = vscode
ff = false
[mergetool "vscode"]
cmd = code --wait $MERGED
[init]
defaultBranch = main
[pull]
ff = only
[user]
name = Yuki Yamamura
email = 126521201+yuki-yamamura@users.noreply.github.com

[ghq]
	root = ~/src
