[color]
ui = true

[core]
editor = nvim
pager = delta

[diff]
tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[merge]
tool = vscode
ff = false
conflictStyle = zdiff3

[mergetool "vscode"]
cmd = code --wait $MERGED

[init]
defaultBranch = main

[pull]
ff = only

[user]
name = Yuki Yamamura
email = 126521201+yuki-yamamura@users.noreply.github.com

[ghq]
root = ~/src

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
line-numbers = true

[alias]
a = add
c = commit
co = checkout
d = diff
lg = log
m = merge
pl = pull
ps = push
r = reset
rb = rebase
s = stash
sh = show
st = status
sw = switch

